#wrapper{
    width: 100%;
    height: 100%;
}

#wrapper h1{
    text-align: center;
}

.track_control{
    width: 570px;
    margin: 10px auto;
}

.track_title{
    margin: 0 10px 0 0;
    display: inline-block;
    width: 100px;
}

.track_control p{
    display: inline-block;
    margin: 0;
}

.track_direction_toggle_wrapper{
    width: 120px;
    margin-right: 30px;
    display: inline-block;
}

.track_speed_control_wrapper{
    width:300px;
    display: inline-block;
}

.centre{
    text-align: center;
}

.track_toggle{
    margin: 0 20px;
    width: 50px;
    display: inline-block;
}

.turnout_toggle{
    position: absolute;
    width: 40px;
}

#turnout1_toggle{
    top:40px;
    left: 159px;
}

#turnout5_toggle{
    top:27px;
    left: 340px;
}

#turnout3_toggle{
    top:17px;
    left: 210px;
}

#turnout4_toggle{
    top:40px;
    right: 200px;
}

#turnout2_toggle{
    top: 17px;
    right: 135px;
}

#turnout6_toggle{
    top: 30px;
    right: 345px;
}

.turnout_toggle.noUi-background{
    background: red;
}

.tooltip {
    display: block;
    position: absolute;
    border: 1px solid #D9D9D9;
    font: 400 12px/12px Arial;
    border-radius: 3px;
    background: #fff;
    top: -43px;
    padding: 5px;
    left: -9px;
    text-align: center;
    width: 50px;
}
.tooltip strong {
    display: block;
    padding: 2px;
}

/* station layout */
#station_scheme{
    position:relative;
    width:80%;
    overflow: hidden;
    border: 1px solid red;
    margin: 0 auto;
    min-width:1000px;
}

#station_scheme > div{
    display: block;
    position: static;
}

#station_scheme .track, #station_scheme > * {
    max-height: 12px;
    min-height: 12px;
}

#track_3_x{
    position: absolute;
    width: 15%;
    display: block;
}

#track_3_x_between{
    position: absolute;
    width: 4%;
    display: block;
    left: 15%;
}

#track_3_centre{
    position: absolute;
    left: 19%;
    width:62%;
    display: block;
}

#track_3_y_between{
    position: absolute;
    left: 81%;
    width: 4.1%;
    display: block;
}

#track_3_y{
    position: absolute;
    left: 85.1%;
    width: 15%;
    display: block;
}

#track_1 > img {
    width: 40%;
    margin-left: 50%;
    margin-top:24px;
}

#track_25 > img {
    margin-top: 12px;
    position: absolute;
}

#track_2{
    width: 54%;
    left: 21%;
}

#track_5{
    width: 16%;
    left: 5%;
}

#track_46 > img{
    position: absolute;
    bottom: 9px;
}

#track_4{
    left:25%;
    width: 54%;
}

#track_6{
    width: 16%;;
    left:79%;
}

#station_scheme .spatiu {
    height:70px;
    max-height:70px;
}

.spatiu > img {
    display: inline-block;
}
.turnout{
    position:absolute;
}

#left_turnout_1{
    left: 42%;
    top: 24px;
}

#left_turnout_2{
    left:13%;
}

#right_turnout_2{
    right: 17%;
}

#left_turnout_4{
    right:13%;
}

#right_turnout_4{
    left: 17%;
}

#map1 {
    width:100%;
}

#map2 {
    display:none;
}
